@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

section {
  height: 100vh;
  width: 100%;
}

.section1 {
  background-image: url(./images/pexels-felix-mittermeier-956981.jpg);
}

.section2 {
  background-image: url(./images/pexels-hristo-fidanov-1252890.jpg);
}

.section3 {
  background-image: url(./images/pexels-jakub-novacek-924824.jpg);
}

.section4 {
  background-image: url(./images/pexels-pixabay-2150.jpg);
}
